body {
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

li img {
    width: 40%;
}

li img, li button {
    margin-top: 8px;
}
